
// Default font size
$defaultFontSize : 16;

// Text colors
$textColor1  : #FFFFFF;
$textColor2  : #000000;
$textColor3  : #0060FF;
$textColor4  : #353A3F;
$textColor5  : #009F13;
$textColor6  : #FF0000;
$textColor7  : #CDD4D8;

// Background colors
$bgColor1  : #FFFFFF;
$bgColor2  : #000000;
$bgColor3  : #0060FF;
$bgColor4  : #F0F6FF;
$bgColor5  : #009F13;
$bgColor6  : #FF0000;
$bgColor7  : #CDD4D8;
$bgColor8  : #003080;

// Border colors
$bdColor1  : #FFFFFF;
$bdColor2  : #000000;
$bdColor3  : #0060FF;
$bdColor4  : #D9D9D9;
$bdColor5  : #353A3F;
$bdColor6  : #CDD4D8;
$bdColor7  : #009F13;
$bdColor8  : #FF0000;
$bdColor9  : #CDD4D8;
